Repository pressbooks/pressbooks, pull requests merged in 2023-07, with the labels that each got.

#3393 chore(l10n): update languages/pressbooks.pot
  languages/pressbooks.pot
Labels: automerge-pot

#3405 chore(l10n): update languages/pressbooks.pot
  languages/pressbooks.pot
Labels: automerge-pot

#3414 fix: output copyright year in CC licenses (resolves #3249)
  inc/class-licensing.php
  tests/test-licensing.php
Labels: bug, licensing & attribution

#3425 fix: handle getLicense where copyright year isn't present (resolves #3249)
  inc/class-licensing.php
  tests/test-licensing.php
Labels: bug
