Repository pressbooks/pressbooks, pull requests merged in 2024-04, with the labels that each got.

#3659 fix: resolve contrast issue with active menu item
  assets/dist/mix-manifest.json
  assets/dist/styles/colors-pb.css
  assets/dist/styles/pressbooks.css
  assets/src/styles/colors-pb.scss
Labels: bug, a11y

#3658 fix: ensure that user-configured indent setting uses theme indent
  inc/class-styles.php
  inc/modules/themeoptions/class-ebookoptions.php
  inc/modules/themeoptions/class-pdfoptions.php
  inc/modules/themeoptions/class-weboptions.php
  tests/test-styles.php
Labels: bug, book theme options

#3637 chore(l10n): update pot file
  languages/pressbooks.pot
Labels: automerge-pot

#3669 chore(l10n): update pot file
  languages/pressbooks.pot
Labels: automerge-pot

#3673 chore(l10n): update pot file
  languages/pressbooks.pot
Labels: automerge-pot
